.category__main__div {
    max-width: 100%;
    height: auto;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.category__main__container {
    width: 80%;
    height: auto;
    border: 0.01px solid rgba(128, 128, 128, 0.699);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* position: absolute; */
}

.category__box {
    height: 12rem;
    width: 13rem;
    /* background: #51aa1b; */
    border: 0.01px solid rgba(128, 128, 128, 0.699);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;

}

.arrow {
    height: 2rem;
    width: 2rem;
    background: #51aa1b;
    position: absolute;
    bottom: -1rem;
    transform: rotate(45deg);
}


@media (max-width:450px) {
    .category__main__container {
        width: 100%;
    }
    .category__box {
        height: 10rem;
        width: 11rem;
    }
}