.sponcered__main__div {
    width: 100%;
    padding: 5rem 3rem;
    box-sizing: border-box;
    margin-top: 2rem;
    border-top: 0.001px solid rgba(211, 211, 211, 0.633);
}

.sponcered__main__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.sponcered__img img {
    opacity: 50%;
    cursor: pointer;
    margin: 1rem 0;
}

.sponcered__img img:hover {
    opacity: 100%;
    transition: 0.3s;
}